<p>Welcome to Reddit Clone!</p>

<% unless @links.empty? %>
	<table>
	<% @links.each_with_index do |link, position| %>
	  <tr id = "link_<%= link.id%>">
			<td><%= "#{position+1}." %>
			<td><% if link.vote_by(current_user) == 1 %>
						<%= image_tag("arrowup.png", \
													:alt => "upvote=>#{position+1}", 
													:border => 0) %>
					<% elsif link.vote_by(current_user) == -1 %>		
						<%= link_to image_tag("arrowup.png", 
																	:alt => "remove_vote=>#{position+1}", 
																	:border => 0), 
												link_remove_vote_path(:link_id => link.id), 
												:method => :delete %>					
					<% else %>
						<%= link_to image_tag("arrowup.png", 
																	:alt => "upvote=>#{position+1}", 
																	:border => 0), 
												link_vote_path(:link_id => link.id, :value => 1), 
												:method => :post %>
					<% end %></td>
			<td><% if link.vote_by(current_user) == -1 %>
						<%= image_tag("arrowdown.png", 
													:alt => "downvote=>#{position+1}", 
													:border => 0) %>
					<% elsif link.vote_by(current_user) == 1 %>		
						<%= link_to image_tag("arrowdown.png", 
																	:alt => "remove_vote=>#{position+1}", 
																	:border => 0),
							 					link_remove_vote_path(:link_id => link.id), 
												:method => :delete %>																										
					<% else %>
						<%= link_to image_tag("arrowdown.png", 
																	:alt => "downvote=>#{position+1}", 
																	:border => 0), 
												link_vote_path(:link_id => link.id, :value => -1), 
												:method => :post %>
					<% end %></td>			
	    <td><%= link_to link.title, link.url %></td>
	    <td><%= "(#{link.clean_url})" %></td>
			<td><%= pluralize(link.points, "point") %></td>
	    <td><%= "by #{link.submitter.email}" %></td>
			<td><%= "#{time_ago_in_words(link.created_at)} ago" %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
	No links yet!
<% end %>

<p id="notice"><%= notice %></p>